/* Overall background and text colors for dark mode */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Fira Mono', monospace;
}
main {
  display: flex;
  flex-direction: row;
}
.forecast-section {
  flex: 70%;
  flex-direction: column ;
}

.search-section {
  flex: 30%;
}
/* Card styling for dark mode */
.card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  color: #ccc;
}

/* Button styling for dark mode */
.btn {
  background-color: #333;
  color: #fff;
  border-color: #444;
}

.btn:hover {
  background-color: #555;
}

/* Form input styling for dark mode */
.form-input, .form-input:focus {
  background-color: #333;
  color: #ddd;
  border-color: #444;
}

/* Headers and titles in dark mode */
h1, h2, h3, h4, h5 {
  color: #ffffff;
}

/* Specific styles for header to make it stand out */
header.hero {
  background-color: #0d47a1; /* A dark blue background */
  padding: 20px;
  border-bottom: 5px solid #0a337f;
  text-align: center;
}

html, body {
  height: 100%; /* Make sure the html and body are taking full height of the viewport */
  margin: 0; /* Remove default margin */
}

/* Apply Flexbox on the body to manage layout */
body {
  display: flex;
  flex-direction: column; /* Stacks children (e.g., header, main, footer) vertically */
}

main {
  flex: 1; /* Allows the main content to expand and fill the available space */
}

footer.hero {
  background-color: #2C3E50; /* Example dark color for the footer */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
  header.hero {
      padding: 10px;
  }
}